body {
    margin: 0;
    padding: 0;
    background-color: steelblue;
}

button {
    height: 30%;
    width: 40%; 
    background: green;
    color: white;
    font-family: "Garamond", serif;
    font-weight: 400;
    font-size: 200%;
    text-align: center;
    border-radius: 25px;
    position: absolute;
}

#single-screen-button {
  top: 15%;
  left: 30%;
}

#multiple-screen-button{
  top: 55%;
  left: 30%;
}

#camera--trigger{
  height: 20%;
  width: 30%;
  top: 50%;
  left: 40%;
}


