.button {
    height: 50px;
    width: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-color: #a1001b;
  }

@keyframes buttonColorPulse {
  0%   {
    background-color: red; 
    transform: translate(-50%, -50%) rotate(0deg);
  }
  14%  {
    background-color: orangered; 
    transform: translate(-50%, -50%) rotate(51deg);
  }
  29%  {
    background-color: yellow; 
    transform: translate(-50%, -50% rotate(103deg));
  }
  43% {
    background-color: green; 
    transform: translate(-50%, -50% rotate(154deg));
  }
  57% {
    background-color: blue; 
    transform: translate(-50%, -50%) rotate(206deg);
  }
  71% {
    background-color: indigo; 
    transform: translate(-50%, -50%) rotate(257deg);
  }
  86% {
    background-color: purple; 
    transform: translate(-50%, -50%) rotate(309deg);
  }
  100% {
    background-color: red; 
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

body {
  background-image: linear-gradient(to bottom right, #4a558a, #3b58e3);
}

p {
  text-align: center;
  font-size: 50px;
  color: #c5edde;
  font-family: fantasy;
}

#msg {
  font-size: 20px;
}